@import "lib/settings";
@import "lib/fonts";
@import "lib/general";
@import "lib/grid";

$maxWidth: 75rem;
$red: #EC1C24;

body {
  /*color: red;
  background: #ec1c24;
  */

}

main {
  margin: auto;
  /*  max-width: rem(1280);*/
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
  opacity: .5;
}

.Header {
  padding: rem(5);
  background-color: rgba(230, 22, 22, 0.82);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  @media (max-width: 45rem) {
    padding: rem(5);
  }
}

.Header-logo {
  cursor: pointer;
  svg {
    height: 120px;
    margin-left: 40px;
    @media (max-width: 45rem) {
      height: 70px;
      margin-left: 0px;
      width: 100px;
    }
  }
  svg g {
    /*fill: $red;*/
    @include transition(all .4s)
  }
  &:hover {
    svg g {
      fill: white;
    }
  }
}

.Header {
  .Nav {
    margin-right: 100px;
    @media (max-width: 45rem) {
      margin-right: 10px;
    }
    img {

      height: 140px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      @include transition(all .2s);
      &:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        transform: scale(1.2);
      }
    }
    li {
      margin-right: 20px;
      @media (max-width: 45rem) {
        margin-right: 9px;
      }
      img {
        height: rem(40);
        @media (max-width: 45rem) {
          height: rem(30);
          margin-left: 0px;
        }
      }
    }
  }
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 10;
  .Nav {
    /*img {
      
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      @include transition(all .2s);
      &:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
      }
      
    }*/
    li {
      margin-right: 20px;
      img {
        height: rem(40);
        width: 30px;
      }
    }
  }
}

.sidenav {

  height: 0;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 101; /* Stay on top */
  bottom: 0;
  right: 0;
  border-radius: 15px 0px 0px 0px;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
  #container_nav {
    /* overflow-x: hidden; /* Disable horizontal scroll */
  }
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 36px !important;
  /*margin-left: 50px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#Btneventos {
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  z-index: 100;
  width: 100px;
  @media (max-width: 45rem) {
    width: 80px;
  }
}

.content-area, .Single {
  background-color: rgba(255, 255, 255, 0.77);
  padding: 40px 100px;
  width: 80%;
  margin: 138px auto 100px auto;
  border-radius: 15px 5px;

  @media (max-width: 45rem) {
    width: 100%;
    padding: 40px 10px;
    margin: 88px auto 100px auto;
  }

}

.hidden {
  display: none;
}

.creditsartico {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 12px;
  width: 100%;
  padding: 0 100px 0 220px;
  z-index: 5;
  @media (max-width: 45rem) {
      position: inherit;
      padding: 0 5px 0 5px;
      margin-bottom: 80px;
    }
}

h1, h2, h3, h4, h5 {
  color: white;
  background-color: #ec1c24;
  padding: 0px 50px 4px 10px;
  font-weight: 300 !important;
  border-radius: 15px 5px;
}

.block_menu img {
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.thumbnail {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.button_item {
  background-color: #5a205c;
  padding: 4px 20px;
  margin-top: 20px;
  font-size: 25px;
  color: white;
  border-radius: 10px;
}

.itemfood {
  padding: 10px 20px;
  color: #775021;
  min-width: 292px;
  max-width: 293px;

  span {
    font-weight: 600;
  }

  img {
    align: center;
    text-align: center;
    margin: 0 auto;
  }
  .item_desc {
    text-align: justify;
    font-style: oblique;
    margin-bottom: 15px;
  }
}

.home {
  .Header-logo {
    display: none;
  }
  .content-area {
    background-color: inherit;
    padding: 100px 100px;
    width: 80%;
    margin: 0px auto;
    border-radius: 0px;
    @media (max-width: 45rem) {
      width: 100%;
      padding: 40px 10px;
      margin: 5px auto 100px auto;
    }
    .logo-ppal {
      max-width: 350px;
    }
  }

  .entrada1 {
    font-size: 30px;
    color: white;
    @media (max-width: 45rem) {
      font-size: 22px;
    }

  }
  .entrada2 {
    font-size: 17px;
    color: #e9e9e9;
    @media (max-width: 45rem) {
      font-size: 13px;
    }

  }
}

.lista {
  $green: #ec1c24;
  /*ul{
  max-width: 300px;
    li{

      list-style: none;
      padding: 10px 10px 10px 40px;
      background-color: #9ea49f;
      margin: 1px;
      font-size: 17px;

      font-weight: 400;
      cursor:pointer;
      transition: all .4s ease-in-out;
      &:hover{
        font-size: 23px;
        background-color: #ec1c24;
        color: white;
        border-radius:10px;
        margin-left:10px;
      }

    }
  }*/

  .tab {
    /*padding-top: 50px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    -webkit-font-smoothing: antialiased;*/
  }

  .tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;

    li {
      float: left;
      line-height: 38px;
      overflow: hidden;
      padding: 0;
      position: relative;
    }

    a {
      background-color: #eff0f2;
      border-bottom: 1px solid #fff;
      color: #888;
      font-weight: 500;
      display: block;
      letter-spacing: 0;
      outline: none;
      padding: 0 20px;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border-bottom: 2px solid $green;
    }
  }

  .tabs_item {
    display: none;
    padding: 30px 0;

    h4 {
      font-weight: bold;
      color: $green;
      font-size: 20px;
    }
    &:first-child {
      display: block;
    }
  }

  .current a {
    color: #fff;
    background: $green;
    border-radius: 10px 10px 0px 10px;
    font-size: 19px;
  }

}

.comidas {
  /*background-image: url('../images/comidas-03.svg');*/
  /*background-size: cover;*/
  background-image: url(../images/pattern-04.svg), url(../images/comidas-05.svg), url(../images/comidas-03.svg);
  background-position: top, bottom, center;
  background-repeat: repeat-x, repeat-x, no-repeat;
  padding: 90px 100px 150px 100px;
  @media (max-width: 45rem) {
    width: 100%;
    padding: 90px 10px;
  }
}

.Galleries {
  figure {
    padding: rem(10);
  }
  h3 {
    margin-bottom: rem(10);
  }
}

.Galleries-link {
  color: #ec1c24;
  font-weight: 600;
  text-transform: uppercase;
}

.Gallery-content {
  max-width: rem(1000);
  width: 100%;
  padding: rem(160) rem(20) 0;
  margin: auto;
  @include respond-to(medium) {
    padding: rem(160) 0 0;
  }
  h3 {
    padding: rem(10) rem(20);
    margin-bottom: rem(20);
    text-transform: uppercase;
  }
}

.contacto {
  max-width: 62.5rem;
  width: 100%;
  padding: 10rem 1.25rem 0;
  margin: auto;
  h3 {
    text-align: center;
    padding: .625rem 1.25rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  p {
    text-align: justify;
  }
}

.wpcf7 {

  form {

    label {
      margin: auto;
      display: block;
      max-width: rem(500);
      width: 100%;
    }
    input,textarea{
      width: 100%;
      height: 2.25rem;
      padding: .125rem .25rem;
      border: 1px solid black;
      background: #4c4c4c;
      color: white;
    }
    textarea{
      height: rem(150);
    }
  }
  input[type=submit] {
    max-width: rem(500);
    margin: auto;
    display: block;
    border-color: #ec1c24;
    background: #ec1c24;
    box-shadow: 0 rem(5) 0 0 #c71414;
  }
}
div.wpcf7-mail-sent-ok{
  background: #4CAF50;
  color: white;
}
div.wpcf7-validation-errors{
  background: #4CAF50;
  color: white;
}
.videoBack{
  background: url("http://bogotabeercompany.com/wp-content/plugins/revslider/rs-plugin/assets/gridtile.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contacto-form{
  background-color: rgba(255,255,255,.77);
  padding: 0 0 rem(10);
  border-radius: rem(15) rem(5);
  form{
    padding: 0 rem(20);
  }
}

@media (max-height: 850px) {
  #contacto footer,  #contacto .creditsartico{
    position: static;

  }

}