@import "lib/settings";
@import "lib/fonts";
@import "lib/general";
@import "lib/grid";

$maxWidth: 75rem;
$red : #EC1C24;

body {
  /*color: red;
  background: tomato;
  */

}
main{
  margin: auto;
/*  max-width: rem(1280);*/
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
  opacity: .5;
}
.Header{
  padding: rem(10);
  background-color: rgba(68, 68, 68, 0.36);
  @media (max-width: 45rem){
       padding: rem(5);
    }
}
.Header-logo{
  cursor:pointer;
  svg {
  height: 120px;
  margin-left: 40px;
  @media (max-width: 45rem){
       height:70px;
       margin-left: 0px;
       width: 100px;
    }
  }
  svg g{
    fill:$red;
    @include transition(all .4s)
  }
  &:hover{
    svg g{
      fill:white;
    }
  }
}
.Header{
  .Nav{
    margin-right: 100px;
    @media (max-width: 45rem){
          margin-right: 10px;
        }
    img{
    
    height: 140px;  filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      @include transition(all .2s);
      &:hover{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
      }
    }
    li{
      margin-right: 20px;
      @media (max-width: 45rem){
          margin-right: 9px;
        }
      img {
        height: rem(40);
        @media (max-width: 45rem){
          height:rem(30);
          margin-left: 0px;
        }
      }
      &:nth-child(2){
        img{
          height: rem(35);
          @media (max-width: 45rem){
            height:rem(25);
            margin-left: 0px;
          }
        }
      }
      &:nth-child(7){
        img{
          height: rem(50);
          @media (max-width: 45rem){
            height:rem(40);
            margin-left: 0px;
          }
        }
      }
    }
  }
}

.Footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  .Nav{
    img{
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      @include transition(all .2s);
      &:hover{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
      }
    }
    li{
      margin-right: 20px;
      img {
        height: rem(40);
        width: 30px;
      }
    }
  }
}

.sidenav {
    
    height: 0; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 101; /* Stay on top */
    bottom: 0;
    right: 0;
    background-color: #111; /* Black*/
    /*overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
    #container_nav{
      overflow-x: hidden; /* Disable horizontal scroll */
    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 36px !important;
    /*margin-left: 50px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#Btneventos{
  cursor:pointer;
  position:fixed;
  bottom: 0px;
  right: 0px;
  padding:5px;
  z-index: 100;
  @media (max-width: 45rem){
    width: 80px;
  }
}

.content-area, .Single{
  background-color: rgba(255, 255, 255, 0.77);
  padding: 40px 100px;
  width: 80%;
  margin: 0px auto 100px auto;

  @media (max-width: 45rem){
    width: 100%;
    padding: 40px 10px;
  }
  
}
 
.hidden{
  display: none;
} 

.creditsartico{
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  font-size: 12px;
  width: 100%;
} 

h1,h2,h3,h4,h5{
  color: tomato;
}

.block_menu img{
  cursor:pointer;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}

